/part05-Part05_05.ConstructorOverload/target/
/part05-Part05_07.NullPointerException/target/
/part06-Part06_01.Menu/target/
/part06-Part06_09.SimpleDictionary/target/
/part02-Part02_23.FromOneToParameter/target/